/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* variables css */
:root {
  --header-height: 3rem;

  /* colors */
  --first-color: #fca311;
  --first-color-alt: #c42130;
  --first-color-contacts: #fff;
  --title-color: #161212;
  --text-color: #161212;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;

  /* font and typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* font-weight */
  --font-semi-bold: 600;
  --font-bold: 700;

  /* margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* if the screen width is more than 968px */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* BASE */
/* for all the elements and spaces use: box-sizing property allows us to include the padding and border in an element's total width and height. */
*,
::before,
::after {
  box-sizing: border-box;
}
/*Allows a smooth animated "scroll effect" between elements within the scrolling box. */
html {
  scroll-behavior: smooth;
}

/* VARIABLES DARK THEME */
body.dark-theme {
  --first-color: #e5e5e5;
  --first-color-contacts: #161212;
  --title-color: #fca311;
  --text-color: #e5e5e5;
  --body-color: #0a111f;
  --container-color: #283618;
}
/* BUTTON DARK/LIGHT */
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CLASS CSS */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}
/* LAYOUT */
.l-main {
  overflow: hidden;
}
.bd-container {
  max-width: 1100px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* if the screen width is less than 768px */
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}
/* SHOW MENU */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* ACTIVE MENU LINK */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}
/* CHANGE BACKGROUND HEADER */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
/* SCROLL TOP */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(252, 163, 17, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* HOME */
section.home {
  background-image: url(./images/background_img_10.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}
.home__container {
  row-gap: 1rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}

.home__title {
  font-size: 5rem;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
  color: var(--body-color);
}

.home__description {
  margin-bottom: var(--mb-3);
  color: var(--text-color);
  font-size: 1.5rem;
  width: 500px;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/* PRODUCTS */
.products__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.products__content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.products__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.products__img {
  width: 110px;
  height: 150px;
  justify-self: center;
  margin: 0.25rem;
}

.products__title,
.products__category {
  text-align: center;
  color: var(--title-color);
}

.products__title {
  font-size: var(--normal-font-size);
}

.products__price {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* contacts */
.contacts {
  background-color: var(--first-color-contacts);
}

.contacts__title,
.contacts__description {
  color: #fff;
}

.contacts__description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.contacts__direction {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.contacts__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.contacts__input::placeholder {
  font-family: var(--body-font);
}

.contacts__img {
  width: 280px;
  justify-self: center;
}

/* FOOTER */
.footer__content {
  text-align: center;
}

.footer__logo {
  color: var(--title-color);
}

.footer__title {
  margin-bottom: var(--mb-2);
}

.footer__logo,
.footer__title {
  font-size: var(--h3-font-size);
}

.footer__link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/* MEDIA QUERIES */

/* full screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .contacts__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .products__container,
  .contacts__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 4rem 0 0;
  }

  .home__img {
    order: 1;
  }

  .section-title-center,
  .contacts__description {
    text-align: initial;
  }

  .home__img,
  .contacts__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  #rus {
    margin-left: var(--mb-3);
  }
  #lat {
    margin-left: var(--mb-3);
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 0rem 0;
  }

  .products__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .products__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .products__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .products__title,
  .products__category {
    text-align: initial;
  }

  .products__button {
    padding: 0.75rem;
  }

  .contacts {
    background: none;
  }

  .contacts__container {
    background-color: var(--first-color-contacts);
    padding: 2rem;
    border-radius: 1.5rem;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .contacts__img {
    width: 469px;
  }

  .home__container,
  .contacts__container {
    column-gap: 1rem;
  }
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.work {
  text-align: center;
}
.work__container {
  row-gap: 2rem;
  column-gap: 2rem;
  gap: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 350px;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}
